.login-pane{
    -fx-background-color: black;
}

.text-f {
    -fx-pref-width: 250px;
    -fx-pref-height: 45px;
    -fx-border-color: white;
    -fx-background-color: transparent;
    -fx-border-radius: 5px;
    -fx-text-fill: #24a0ed;
    -fx-font-size: 14px;
    -fx-letter-spacing: 10px;
}

.check-b > .box {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-padding: 5px;
    -fx-min-width: 10px;
    -fx-min-height: 10px;
    -fx-text-fill: transparent;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}

.check-b:selected > .box {
    -fx-background-color: red;
}

.check-b > .box > .mark {
    -fx-shape: "";
    -fx-background-color: transparent;
}

.check-b > .box:hover {
    -fx-cursor: hand;
}



.login-btn{
    -fx-pref-width: 100px;
    -fx-border-color: #24a0ed;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

.login-btn:hover{
    -fx-cursor: hand;
}







